<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings><add name="TESTEntities" connectionString="metadata=res://*/Model.Test.csdl|res://*/Model.Test.ssdl|res://*/Model.Test.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-99421S3D\SQLEXPRESS;initial catalog=TEST;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>